# Ignore bin and obj in all subfolders
**/bin/
**/obj/
**/.vs/
**/v17/.wsuo
/.vs/BharatTexfabWebsite/v17
Backend/BharatTexfab.Apis/shop.db-shm
Backend/BharatTexfab.Apis/shop.db-wal
.vs/BharatTexfabWebsite/v17/.wsuo


# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
/Frontend/WebUI/.angular
Frontend/WebUI/.editorconfig
/Frontend/WebUI/.vscode
/Frontend/WebUI/node_modules
